In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d ={'a':10, 'b':20, 'c':30}

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(labels,my_data)

10    a
20    b
30    c
dtype: object

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
ser1 = pd.Series([1,2,3,4],['A','B','C','D'])

In [13]:
ser2 = pd.Series([1,2,3,4],['A','B','E','D'])

In [14]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [15]:
ser2

A    1
B    2
E    3
D    4
dtype: int64

In [19]:
ser1['B']

2

In [21]:
ser1 ** ser2

A      1.0
B      4.0
C      NaN
D    256.0
E      NaN
dtype: float64

In [22]:
np.random.seed(101)

In [24]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [25]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [30]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
type(df['W'])

pandas.core.series.Series

In [32]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [35]:
df['new'] = df['W'] + df['X']

In [36]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [39]:
df.drop('new',axis=1, inplace=True)

In [40]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [42]:
df.shape

(5, 4)

In [43]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [44]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [45]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [46]:
df.iloc[1,2]

-0.84807698340363147

In [49]:
df.iloc[[0,2],[0,1]]

          W         X
A  2.706850  0.628133
C -2.018168  0.740122

In [50]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [51]:
booldf = df > 0

In [52]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [53]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [54]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [67]:
df[df['Y']<0]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [69]:
df[df['Y']<0].loc['D']

W    0.188695
X   -0.758872
Y   -0.933237
Z    0.955057
Name: D, dtype: float64

In [71]:
df[df['Y']<0][['X','Z']]

          X         Z
B -0.319318  0.605965
D -0.758872  0.955057

In [64]:
df[df['Y']<0].iloc[0,3]

0.60596534949493364

In [58]:
df['Y']<0

A    False
B     True
C    False
D     True
E    False
Name: Y, dtype: bool

In [57]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [82]:
df[(df['Y']<0) & (df['X']<0)]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [83]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [84]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [85]:
newcol = 'TX OR NY MN CA'.split()

In [86]:
newcol

['TX', 'OR', 'NY', 'MN', 'CA']

In [88]:
df['State'] = newcol

In [89]:
df

          W         X         Y         Z State
A  2.706850  0.628133  0.907969  0.503826    TX
B  0.651118 -0.319318 -0.848077  0.605965    OR
C -2.018168  0.740122  0.528813 -0.589001    NY
D  0.188695 -0.758872 -0.933237  0.955057    MN
E  0.190794  1.978757  2.605967  0.683509    CA

In [90]:
df.reset_index()

  index         W         X         Y         Z State
0     A  2.706850  0.628133  0.907969  0.503826    TX
1     B  0.651118 -0.319318 -0.848077  0.605965    OR
2     C -2.018168  0.740122  0.528813 -0.589001    NY
3     D  0.188695 -0.758872 -0.933237  0.955057    MN
4     E  0.190794  1.978757  2.605967  0.683509    CA

In [92]:
df.set_index('State')

              W         X         Y         Z
State
TX     2.706850  0.628133  0.907969  0.503826
OR     0.651118 -0.319318 -0.848077  0.605965
NY    -2.018168  0.740122  0.528813 -0.589001
MN     0.188695 -0.758872 -0.933237  0.955057
CA     0.190794  1.978757  2.605967  0.683509

In [93]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [94]:
df

          W         X         Y         Z State
A  2.706850  0.628133  0.907969  0.503826    TX
B  0.651118 -0.319318 -0.848077  0.605965    OR
C -2.018168  0.740122  0.528813 -0.589001    NY
D  0.188695 -0.758872 -0.933237  0.955057    MN
E  0.190794  1.978757  2.605967  0.683509    CA

In [97]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [98]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [99]:
df.loc['G2']

          A         B
1  0.166905  0.184502
2  0.807706  0.072960
3  0.638787  0.329646

In [104]:
df.loc['G2'].loc[2]['B']

0.072959675317038689

In [105]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [106]:
df.xs('G1')

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [107]:
df.index.names

FrozenList([None, None])

In [108]:
df.index.names = ('Groups','Num')

In [109]:
df

                   A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646

In [110]:
df.xs('G2')

            A         B
Num
1    0.166905  0.184502
2    0.807706  0.072960
3    0.638787  0.329646

In [111]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

In [114]:
dict = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [115]:
dict

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [117]:
df = pd.DataFrame(dict)

In [118]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [119]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [120]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [121]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [133]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [125]:
df.fillna(value='Fill Value')

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [131]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [134]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [135]:
df = pd.DataFrame(data)

In [136]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [155]:
bycomp = df.groupby('Company').sum().loc['FB']

In [154]:
bycomp

Sales    593
Name: FB, dtype: int64

In [156]:
df.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [160]:
df.groupby('Company').describe().transpose()['FB']

       count   mean        std    min     25%    50%     75%    max
Sales    2.0  296.5  75.660426  243.0  269.75  296.5  323.25  350.0

In [ ]:
# Merging, Joining, and Concatenating