# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

### Below is the Exponential value

In [9]:
2 ** 4

16

## Mod function - returns the reminder after division. Good way for identifying Odd and Even number

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

In [16]:
t = 2

In [17]:
t

2

In [18]:
t = t*t

In [19]:
t

4

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [21]:
joe = 35
his_name = 'Jojo'

## it is better to use the [26] instead of [27]

In [26]:
print ('My name is {A} and my age is {B}'.format(B=joe,A=his_name))

My name is Jojo and my age is 35

In [27]:
print ('My name is {} and my age is {}'.format(his_name,joe))

My name is Jojo and my age is 35

In [28]:
s = 'hello'

In [29]:
s[0]

'h'

In [30]:
print(s[0])

h

## Colon notation  or Slice Notation. The 0,1,2.... position are called indexes

In [32]:
print([s[1:]])

['ello']

In [33]:
s[:3]

'hel'

In [34]:
s[1:3]

'el'

In [36]:
w = s[1:3]

In [37]:
w

'el'

In [38]:
print(w)

el

## List - This is a sequece of elements separated by colums [ ]

In [139]:
[1,2,3]

[1, 2, 3]

In [140]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [141]:
my_list = ['a','b','c']

In [142]:
my_list.append('d')

In [144]:
my_list

['a', 'b', 'c', 'd']

In [145]:
my_list(0)

TypeError: 'list' object is not callable

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries - This are like HASH TABLES { }

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

In [40]:
ek = {'number':56}

In [42]:
ek['number']

56

In [46]:
jk = {'num':[1,2,3], 'ya':{'inner':[8,9,7]}}

In [47]:
jk

{'num': [1, 2, 3], 'ya': {'inner': [8, 9, 7]}}

In [48]:
jk['ya']

{'inner': [8, 9, 7]}

In [50]:
jk['ya']['inner']

[8, 9, 7]

In [56]:
jk['ya']['inner'][1:2]

[9]

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples (this is imutable while list is mutable  ( ) )

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [57]:
my_list = [4,5,6]

In [58]:
my_list

[4, 5, 6]

In [59]:
my_list[1]

5

In [60]:
my_list[1] = 10

In [61]:
my_list

[4, 10, 6]

### Sets (collection of unique elements { } ) - There is also a set function which will only return Unique elements in a list

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [84]:
set([1,1,1,1,2,3,2,2,3,3,4,5,6,5,4,3,5])

{1, 2, 3, 4, 5, 6}

In [63]:
s = {1,2,3,4,4,5,1}

In [64]:
s

{1, 2, 3, 4, 5}

In [66]:
s.add(6)

In [68]:
s

{1, 2, 3, 4, 5, 6}

In [69]:
s.add(4)
print(s)

{1, 2, 3, 4, 5, 6}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

In [75]:
1 != 3

True

In [76]:
1 =! 3

SyntaxError: can't assign to literal (<ipython-input-76-fe674f06ec57>, line 1)

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements (remember it will always print the first true condition)

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [78]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [81]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4 == 4:
    print('almostd last')
else:
    print('Last')

middle

## for Loops (Interrate through a sequence)

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)s

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [1]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    #i = i+1 -- This will do an infinate loop FYI. Don't run it.

i is: 1
i is: 2
i is: 3
i is: 4

In [5]:
i = 1
while i < 5:
    print('i is: {one}'.format(one=i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range() - This is a generator for numerical values

In [2]:
range(5)

range(0, 5)

In [10]:
range(1,5)

range(1, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension - Very Cool Stuff

In [12]:
x = [1,2,3,4]

In [15]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [14]:
out = [item**2 for item in x]
print(out)

[1, 4, 9, 16]

## functions

In [16]:
def simple(param0):
    print(param0)

In [18]:
simple('Hello')

Hello

In [19]:
def simple1(name):
    print('Hello '+name)

In [20]:
simple1('Joseph')

Hello Joseph

### Documentation string """   """, very good stuff. Don't forget Shift TAB.

In [24]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [25]:
my_func

In [26]:
my_func()

default

In [ ]:
my_func

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

## When you use return, you return a value that needs to be stored in a variable and used. Print is just printing to the std.out

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [28]:
def times2(var):
    return var*2

In [29]:
times2(2)

4

In [32]:
def times2(var): return var*2

In [33]:
times2(2)

4

## Lambda simplify this

In [35]:
lambda var: var*2

In [37]:
t = lambda var: var*4

In [39]:
t(4)

16

## map and filter

In [40]:
seq = [1,2,3,4,5]

In [46]:
for num in seq:
    H = t(num)
    print(H)

4
8
12
16
20

In [47]:
seq

[1, 2, 3, 4, 5]

## This will return just the map expression

In [48]:
map(times2,seq)

In [54]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [55]:
joe = list(map(times2,seq))

In [53]:
joe

[2, 4, 6, 8, 10]

In [57]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

## This will return just the filter expression

In [76]:
filter(lambda item: item%2,joe)

In [78]:
list(filter(lambda item: item%2 == 0,joe))

[2, 4, 6, 8, 10]

In [81]:
list(filter(lambda item: item >= 6 and item%2 == 0,joe))

[6, 8, 10]

## methods

In [83]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [84]:
st.split()
# This will split on whitespaces

['hello', 'my', 'name', 'is', 'Sam']

In [85]:
tweet = 'Go Sports! #Sports'

In [86]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [87]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [89]:
tweet.split('#')[1]
## THis will just grab #

'Sports'

In [91]:
d = {'k1':1,'k2':2}

In [93]:
d.keys

In [97]:
d.keys()

dict_keys(['k1', 'k2'])

In [98]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [99]:
lst = [1,2,3]

In [100]:
lst.pop()

3

In [102]:
lst

[1, 2]

In [123]:
list = [1,2,3,4,5]

In [124]:
list

[1, 2, 3, 4, 5]

In [125]:
item=list.pop()

In [126]:
item

5

In [128]:
james=list.pop(1)

In [129]:
james

2

In [130]:
list

[1, 3, 4]

## Check if something is inside of a list with IN operator

In [ ]:
'x' in [1,2,3]

In [110]:
'x' in ['x','y','z']

True

## Truple unpacking

In [132]:
x =[(1,2),(3,4),(5,6)]

In [154]:
x

[(1, 2), (3, 4), (5, 6)]

In [156]:
y = [(1,2,3),(4,5,6)]

In [157]:
y

[(1, 2, 3), (4, 5, 6)]

In [146]:
x(0)

TypeError: 'list' object is not callable

In [158]:
x[0][1]

2

In [160]:
y[0][2]

3

In [150]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [152]:
for (a,b) in x:
    print(b)

2
4
6

In [161]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [163]:
for item in y:
    print(item)

(1, 2, 3)
(4, 5, 6)

In [164]:
for a,b,c in y:
    print(a)

1
4

In [168]:
for a,b,c in y:
    print(a,c)
    #print(b)

1 3
4 6

# Great Job!