## Write a Python program to print the following string in a specific format

### Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [36]:
print ("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, How I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star, How I wonder what you are

## Write a Python program to get the Python version you are using
## With NoteBooks you don't "import" for python native modules

In [37]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [48]:
print(sys.version)

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [38]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [39]:
import platform
print(platform.python_version())

3.5.2

## Write a Python program to display the current date and time.
Sample Output : 
Current date and time : 
2014-07-05 14:34:14

In [40]:
import time
print (time.strftime("%x"), time.strftime("%X"))

11/27/16 07:59:44

In [47]:
print (time.strftime('%x'), time.strftime('%X'))

11/27/16 08:09:28

## Write a Python program which accept the radius of a circle from the user and compute the area.

In [56]:
def area (ri):
    return math.pi*ri**2

In [57]:
area(1.1)

3.8013271108436504

## As a Lambda function

In [59]:
area.lam = lambda var: var**2*math.pi

In [60]:
area.lam(1.1)

3.8013271108436504

## Write a Python program which accept the user's first and last name and print them in reverse order with a space between them

In [106]:
def names (first, last):
    print(' {two}, {one}'.format(two=last,one=first))

In [107]:
names("Joseph", "Glover")

 Glover, Joseph

## Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [173]:
 def num (number):
    return list(number)

In [174]:
num((2,3,4,5,6))

[2, 3, 4, 5, 6]

In [175]:
num("2355686")

['2', '3', '5', '5', '6', '8', '6']

In [176]:
 def numm (number):
    return set(list(number))

In [177]:
numm("2355686")

{'2', '3', '5', '6', '8'}

In [178]:
 def tupleT (number):
    return tuple(number)

In [179]:
tupleT((2,3,4,5,6,7))

(2, 3, 4, 5, 6, 7)

In [182]:
 def both (number):
    print (tuple(number)) 
    print (list(number))

In [185]:
both((2,3,4,5,6))

(2, 3, 4, 5, 6)
[2, 3, 4, 5, 6]

In [186]:
both(("48985"))

('4', '8', '9', '8', '5')
['4', '8', '9', '8', '5']

In [187]:
joe = 2,3,4,5,6,6,5

In [188]:
joe

(2, 3, 4, 5, 6, 6, 5)

In [189]:
list(joe)

[2, 3, 4, 5, 6, 6, 5]

In [190]:
set(list(joe))

{2, 3, 4, 5, 6}

In [198]:
ans = lambda both: tuple(both)

In [199]:
ans((2,3,4,5))

(2, 3, 4, 5)

In [200]:
ans("2345")

('2', '3', '4', '5')